<!DOCTYPE html>
<html>
    <head>
        <title>学生检索界面</title>
		<link rel="icon" href="/fav.ico" type="image/png" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/tp5/public/static/js/ajax.js"></script>
		<link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
		<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
		<style>
				#container {
					color:rgb(8, 8, 8);
					filter:Alpha(Opacity=10,Style=0);
					opacity:0.7;
					z-index:30;
				}	
				.layui-side{
					position:fixed;
					width:300px;
					top:0;
					bottom:0;
					background-color: rgb(67, 78, 110);
				}
		</style>
    </head>
    <body style="background:url(/tp5/public/static/img/teacherBack1.jpg)">
		<br><br>

		<div class="layui-side" style="background:url(/tp5/public/static/img/1.jpg)">
	
		</div>

		<div class="am-u-sm-4">&nbsp</div>
		<div class="am-u-sm-4 am-panel am-panel-default" id="container">
		<div class="am-panel-hd">检索界面</div>
		<br><br>

		<div id="app1" class="am-form">
			<div>第一种检索方式----输入课程ID：</div>
			<input  v-model="courseid" type="text" placeholder="edit me">
			<br>
			<br>
			<button v-on:click="search" class="am-btn am-btn-secondary am-fr">search</button>
			<div>第二种检索方式----输入课程名称：</div>
			<input  v-model="coursename" type="text" placeholder="edit me">
			<br>
			<button v-on:click="search2" class="am-btn am-btn-secondary am-fr">search</button>
		</div>
		<br><br>

		<div id='app2'>
			<div class="am-u-sm-4 am-panel am-panel-default" v-for="elem in jumpCourse">
			<a :href="elem.jump">{{elem.state}}  课程名称:{{elem.name}}，课程ID:{{elem.id}}<a/>
			<br>
			</div>
		</div>
		</div>

		
        
     
    </body>
    <script>

var app2 = new Vue({
	el: '#app2',
	data: {
		jumpCourse:[{'state':'','name':'xxx','ID':111}],
	},  
	methods:{
		
	},
})

var app1 = new Vue({
	el: '#app1',
	data: {
		courses:[{'Name':'点击','url':'#'}],
		message:'',
		courseid:'',
		userid:'',
		coursename:''
	},  
	mounted:function(){
		this.coursename = decodeURI(getUrlParamsMap('key'))
	},
	methods:{
		search:function(){
			doAjax('/tp5/public/index/search/searchCourseID',
				'post',
				{"data":{"userid":this.userid,"courseid":this.courseid}},
				function(data){
					if(data['state'] == 'error'){
						alert(data['message'])
							app1.userid = ''
							app1.courseid = ''
					}
					else if(data['state'] == 'all right'){
						alert(data['message'])
						self.location = data['jump']; 
					}
					else if(data['state'] == 'right courseid'){
						alert(data['message'])
						self.location = data['jump']; 
					}
				}
			)
		},
		search2:function(){
			doAjax('/tp5/public/index/search/searchCourseName',
				'post',
				{"data":{"userid":getUrlParamsMap('userid'),"name":this.coursename}},
				function(data){
					if(data['state'] == 'error'){
						alert(data['message'])
							app1.userid = ''
							app1.coursename = ''
						}
					else {
						app1.jumpCourse = data 
					}
				}
			)
		}
	},
})






    </script>
</html>
